.header {
  display: flex;
  align-items: flex-end;
  height: 5.5rem;
}

.wrap {
  display: flex;
}

.header {
  .item {
    margin: 1rem;

    a {
      text-decoration: none;
      color: #1D1F22;

      &:hover {
        color: #5ECE7B;
      }
    }
  }
}